@media only screen and (max-width : 1200px) {
    .container{
        border: 1px solid red; 
    }
}

@media only screen and (max-width : 979px) {
    .container{
        border: 1px solid green; 
    }
}

@media only screen and (max-width : 767px) {
    .container{
        border: 1px solid purple; 
    }
}

@media only screen and (max-width : 480px) {
    .container{
        border: 1px solid orange; 
    } 
}

@media only screen and (max-width : 320px) {
    .container{
        border: 1px solid blue; 
    }  
}